<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="atm" class="com.springcore.iib.bean.ATM">
	<property name="printer">
	
	<bean id="hp" class="com.springcore.iib.bean.HPPrinter"></bean>
	
	<!-- <bean id="sony" class="com.springcore.iib.bean.SonyPrinter"></bean> -->
	
	</property>
	</bean>
	

</beans>
